/* @font-face {
  font-family: Candyhome;
  src: url(https://npm.elemecdn.com/anzhiyu-blog@1.1.6/fonts/Candyhome.ttf);
  font-display: swap;
  font-weight: lighter;
} */

/* 定义的三种字体----- start*/
@font-face {
  font-family: TXGBlog;
  src: url(https://cdn.lkpttxg.cn/txgblog/font/TXG_Blog.woff2);
  font-display: swap;
  font-weight: lighter;
}

@font-face {
  font-family: TXG;
  src: url(https://cdn.lkpttxg.cn/txgblog/font/TXG.ttf);
  font-display: swap;
  font-weight: lighter;
}

@font-face {
  font-family: "iconfont";
  /* Project id 3688928 */
  /* Color fonts */
  src: url('/fonts/iconfont.eot');
  src: url('/fonts/iconfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/iconfont.woff2') format('woff2'),
    url('/fonts/iconfont.woff') format('woff'),
    url('/fonts/iconfont.ttf') format('truetype'),
    url('/fonts/iconfont.svg#iconfont') format('svg');
}


div#menus {
  font-family: TXGBlog;
}

h1#site-title {
  font-family: TXGBlog;
  font-size: 3em !important;
  color: #ee7272 !important;
}

#page-header #subtitle {
  font-family: TXGBlog;
  color: #ee7272 !important;
}

a.article-title,
a.blog-slider__title,
a.categoryBar-list-link,
a#card-info-btn,
h1.post-title {
  font-family: TXGBlog;
}

/* social卡片中标签字体修改 */
div.card-info-data>a .headline {
  font-family: TXGBlog;
  font-size: 1.5em !important;
  color: #1478d2;
}

div.card-info-data>a .length-num {
  font-family: TXGBlog;
  font-size: 1.5em !important;
  color: #854444;
}

.author-info__name {
  font-family: TXGBlog;
}

.author-info__description {
  font-family: TXGBlog;
  font-size: 1em;
}


.iconfont {
  font-family: 'iconfont' !important;
  font-size: 1.5em;
  /* 可以定义图标大小 */
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-danmu:before {
  content: "\e622";
  color: white;

}

/* 定义的两种字体---end */

/* 时间轴生肖icon */
svg.icon {
  /* 这里定义svg.icon，避免和Butterfly自带的note标签冲突 */
  width: 1em;
  height: 1em;
  /* width和height定义图标的默认宽度和高度*/
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

/* 电子钟样式 */
.icon-zhongbiao::before {
  color: #f7c768;
}

/* bilibli番剧插件 */
#article-container .bangumi-tab.bangumi-active {
  background: var(--anzhiyu-theme);
  color: var(--anzhiyu-ahoverbg);
  border-radius: 10px;
}

a.bangumi-tab:hover {
  text-decoration: none !important;
}

.bangumi-button:hover {
  background: var(--anzhiyu-theme) !important;
  border-radius: 10px !important;
  color: var(--anzhiyu-ahoverbg) !important;
}

a.bangumi-button.bangumi-nextpage:hover {
  text-decoration: none !important;
}

.bangumi-button {
  padding: 5px 10px !important;
}

a.bangumi-tab {
  padding: 5px 10px !important;
}

svg.icon.faa-tada {
  font-size: 1.1em;
}

.bangumi-info-item {
  border-right: 1px solid #f2b94b;
}

.bangumi-info-item span {
  color: #f2b94b;
}

.bangumi-info-item em {
  color: #f2b94b;
}

/* 解决artitalk的图标问题 */
#uploadSource>svg {
  width: 1.19em;
  height: 1.5em;
}

/*top-img黑色透明玻璃效果移除，不建议加，除非你执着于完全一图流或者背景图对比色明显 */
#page-header:not(.not-top-img):before {
  background-color: transparent !important;
}

/* 首页文章卡片 */
#recent-posts>.recent-post-item {
  background: rgba(255, 255, 255, 0.9);
}

/* 首页侧栏卡片 */
#aside-content .card-widget {
  background: rgba(255, 255, 255, 0.9);
}

#文章页面正文背景
/* div#post {
    background: rgba(255, 255, 255, 0.95);
  } */

div#post {
  background: rgba(255, 255, 255, 1);
}

div.post {
  background: #deb887;
}

/* 分页页面 */
div#page {
  background: rgba(255, 255, 255, 0.95);
}

/* 归档页面 */
div#archive {
  background: rgba(255, 255, 255, 0.95);
}

/* 标签页面 */
div#tag {
  background: rgba(255, 255, 255, 0.95);
}

/* 分类页面 */
div#category {
  background: rgba(255, 255, 255, 0.95);
}

/*夜间模式伪类遮罩层透明*/
[data-theme='dark'] #recent-posts>.recent-post-item {
  background: #121212;
}

[data-theme='dark'] .card-widget {
  background: #121212 !important;
}

[data-theme='dark'] div#post {
  background: #121212 !important;
}

[data-theme='dark'] div#tag {
  background: #121212 !important;
}

[data-theme='dark'] div#archive {
  background: #121212 !important;
}

[data-theme='dark'] div#page {
  background: #121212 !important;
}

[data-theme='dark'] div#category {
  background: #121212 !important;
}

[data-theme='dark'] div#category {
  background: transparent !important;
}

/* 页脚透明 */
#footer {
  background: transparent !important;
}

/* 头图透明 */
#page-header:not(.post-bg) {
  background: transparent !important;
}


/* 全部页面透明 */
/* 头图透明 */
#page-header {
  background-color: #ffb04975;
}

#rightside>div>button {
  border-radius: 5px;
}

/* 滚动条 */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #425aef;
  border-radius: 2em;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-moz-selection {
  color: #fff;
  background-color: #425aef;
}

/* 音乐播放器 */

/* .aplayer .aplayer-lrc {
    display: none !important;
  } */

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
  left: -66px !important;
  transition: all 0.3s;
  /* 默认情况下缩进左侧66px，只留一点箭头部分 */
}

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
  left: 0 !important;
  transition: all 0.3s;
  /* 鼠标悬停是左侧缩进归零，完全显示按钮 */
}

.aplayer.aplayer-fixed {
  z-index: 999999 !important;
}

/* 评论框  */
.vwrap {
  box-shadow: 2px 2px 5px #bbb;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  padding: 30px;
  margin: 30px 0px 30px 0px;
}

/* 设置评论框 */

.vcard {
  box-shadow: 2px 2px 5px #bbb;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  padding: 30px;
  margin: 30px 0px 0px 0px;
}

/* 鼠标图标 */
body {
  cursor: url('/img/x1.cur'), auto;
}

a,
[type='button']:not(:disabled),
[type='reset']:not(:disabled),
[type='submit']:not(:disabled),
button:not(:disabled) {
  cursor: url('/img/x2.cur'), auto !important;
}

/* md网站下划线 */
#article-container a:hover {
  text-decoration: none !important;
}

#article-container #hpp_talk p img {
  display: inline;
}

/* 404页面 */
#error-wrap {
  position: absolute;
  top: 40%;
  right: 0;
  left: 0;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1000px;
  transform: translate(0, -50%);
}

#error-wrap .error-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  height: 18rem;
  border-radius: 8px;
  background: var(--card-bg);
  box-shadow: var(--card-box-shadow);
  transition: all 0.3s;
}

#error-wrap .error-content .error-img {
  box-flex: 1;
  flex: 1;
  height: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: #425aef;
  background-position: center;
  background-size: cover;
}

#error-wrap .error-content .error-info {
  box-flex: 1;
  flex: 1;
  padding: 0.5rem;
  text-align: center;
  font-size: 14px;
  font-family: Titillium Web, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft JhengHei', 'Microsoft YaHei', sans-serif;
}

#error-wrap .error-content .error-info .error_title {
  margin-top: -4rem;
  font-size: 9em;
}

#error-wrap .error-content .error-info .error_subtitle {
  margin-top: -3.5rem;
  word-break: break-word;
  font-size: 1.6em;
}

#error-wrap .error-content .error-info a {
  display: inline-block;
  margin-top: 0.5rem;
  padding: 0.3rem 1.5rem;
  background: var(--btn-bg);
  color: var(--btn-color);
}

#body-wrap.error .aside-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  bottom: 0px;
  position: absolute;
  padding: 1rem;
  width: 100%;
  overflow: scroll;
}

#body-wrap.error .aside-list .aside-list-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1200px;
  margin: 0 auto;
}

#body-wrap.error .aside-list .aside-list-item {
  padding: 0.5rem;
}

#body-wrap.error .aside-list .aside-list-item img {
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
}

#body-wrap.error .aside-list .aside-list-item .thumbnail {
  overflow: hidden;
  width: 230px;
  height: 143px;
  background: var(--heo-card-bg);
  display: flex;
}

#body-wrap.error .aside-list .aside-list-item .content .title {
  -webkit-line-clamp: 2;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-height: 1.5;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
  padding-top: 0.5rem;
  color: white;
}

#body-wrap.error .aside-list .aside-list-item .content time {
  display: none;
}

/* 代码框主题 */
#article-container figure.highlight {
  border-radius: 10px;
}

/* h1-h6小风车设置 */
/* 文章页H1-H6图标样式效果 */
h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
  -webkit-animation: ccc 1.6s linear infinite;
  animation: ccc 1.6s linear infinite;
}

@-webkit-keyframes ccc {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }

  to {
    -webkit-transform: rotate(-1turn);
    transform: rotate(-1turn)
  }
}

@keyframes ccc {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }

  to {
    -webkit-transform: rotate(-1turn);
    transform: rotate(-1turn)
  }
}

#content-inner.layout h1::before {
  color: #ef50a8;
  margin-left: -1.55rem;
  font-size: 1.3rem;
  margin-top: -0.23rem;
}

#content-inner.layout h2::before {
  color: #fb7061;
  margin-left: -1.35rem;
  font-size: 1.1rem;
  margin-top: -0.12rem;
}

#content-inner.layout h3::before {
  color: #ffbf00;
  margin-left: -1.22rem;
  font-size: 0.95rem;
  margin-top: -0.09rem;
}

#content-inner.layout h4::before {
  color: #a9e000;
  margin-left: -1.05rem;
  font-size: 0.8rem;
  margin-top: -0.09rem;
}

#content-inner.layout h5::before {
  color: #57c850;
  margin-left: -0.9rem;
  font-size: 0.7rem;
  margin-top: 0.0rem;
}

#content-inner.layout h6::before {
  color: #5ec1e0;
  margin-left: -0.9rem;
  font-size: 0.66rem;
  margin-top: 0.0rem;
}

#content-inner.layout h1:hover,
#content-inner.layout h2:hover,
#content-inner.layout h3:hover,
#content-inner.layout h4:hover,
#content-inner.layout h5:hover,
#content-inner.layout h6:hover {
  color: #425aef;
}

#content-inner.layout h1:hover::before,
#content-inner.layout h2:hover::before,
#content-inner.layout h3:hover::before,
#content-inner.layout h4:hover::before,
#content-inner.layout h5:hover::before,
#content-inner.layout h6:hover::before {
  color: #425aef;
  -webkit-animation: ccc 3.2s linear infinite;
  animation: ccc 3.2s linear infinite;
}

/* 页面设置icon转动速度调整 */
#rightside_config i.fas.fa-cog.fa-spin {
  animation: fa-spin 5s linear infinite;
}

/* h1-h6小风车设置结束 */

/* 侧边栏个人卡片 */
/* #aside-content > .card-widget.card-info {
    background: linear-gradient(-45deg, var(--anzhiyu-main), #031764, #150136, #67044d);
    background-size: 400%;
    box-shadow: var(--heo-shadow-black);
    animation: gradient 15s ease infinite;
    position: relative;
    color: var(--anzhiyu-white);
  }
  .site-data > a .headline,.site-data > a .length-num {
    color: var(--anzhiyu-white);
  }  */

/* 侧边栏标签css */
/* tags样式 */
#aside-content .card-tag-cloud a {
  color: var(--anzhiyu-fontcolor) !important;
  font-size: 0.85rem !important;
  border-radius: 10px;
  display: inline-block;
  margin-right: 4px;
  margin-bottom: 2px;
  background-color: aliceblue;
}

#aside-content .card-tag-cloud a:hover {
  background: #49b1f5;
  color: var(--anzhiyu-green) !important;
  box-shadow: var(--anzhiyu-shadow-theme);
}

@media screen and (min-width: 1300px) {
  #aside-content .card-tag-cloud a:hover {
    transform: scale(1.03);
  }

  #aside-content .card-tag-cloud a:active {
    transform: scale(0.97);
  }
}

#aside-content .card-tag-cloud a sup {
  opacity: .4;
  margin-left: 2px;
}

/* archives 样式 */
/* 归档样式 */
span.card-archive-list-count {
  width: auto;
  text-align: left;
  font-size: 1.5rem;
  line-height: 0.9;
  font-weight: 700;
}

.card-archive-list-count-group {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

#aside-content .card-archives ul.card-archive-list>.card-archive-list-item a span:last-child,
#aside-content .card-categories ul.card-category-list>.card-category-list-item a span:last-child {
  width: fit-content;
  margin-left: 4px;
}

span.card-archive-list-count {
  width: auto;
  text-align: left;
  font-size: 1.1rem;
  line-height: .9;
  font-weight: 700;
}

.card-archive-list-date {
  font-size: 14px;
  opacity: 0.6;
}

li.card-archive-list-item {
  width: 100%;
  flex: 0 0 48%;
}

#aside-content .card-archives ul.card-archive-list>.card-archive-list-item a:hover,
#aside-content .card-categories ul.card-category-list>.card-category-list-item a:hover {
  color: var(--anzhiyu-white);
  background-color: var(--anzhiyu-theme);
  box-shadow: var(--anzhiyu-shadow-theme);
  border-radius: 8px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: #49b1f5;
}

@media screen and (min-width: 1300px) {

  #aside-content .card-archives ul.card-archive-list>.card-archive-list-item a:hover,
  #aside-content .card-categories ul.card-category-list>.card-category-list-item a:hover {
    transform: scale(1.03);
  }

  #aside-content .card-archives ul.card-archive-list>.card-archive-list-item a:active,
  #aside-content .card-categories ul.card-category-list>.card-category-list-item a:active {
    transform: scale(0.97);
  }
}

#aside-content .card-archives ul.card-archive-list>.card-archive-list-item a {
  border-radius: 8px;
  margin: 4px 0;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  border: var(--style-border);
  background-color: ghostwhite;
}

#aside-content .card-categories ul.card-category-list>.card-category-list-item a {
  border-radius: 8px;
  margin: 4px 0;
  display: flex;
  flex-direction: direction;
  align-content: space-between;
  border: var(--style-border);
  background-color: ghostwhite;
}


#aside-content .card-archives ul.card-archive-list>.card-archive-list-item a span:first-child,
#aside-content .card-categories ul.card-category-list>.card-category-list-item a span:first-child {
  width: auto;
  flex: inherit;
}

#aside-content .card-archives ul.card-archive-list,
#aside-content .card-categories ul.card-category-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* 标签新增自定义样式 */
/* 分类目录条、标签目录条 */
#catalog-bar {
  padding: .4rem .8rem;
  border-radius: var(--border-radius);
  display: flex;
  border: var(--card-border);
  margin-bottom: 1rem;
  justify-content: space-between;
}

#catalog-bar:hover {
  border-color: var(--main);
}

#catalog-bar i {
  line-height: inherit;
}

#catalog-list {
  /* 分类/标签较少时，可以选择不设置 width，居中显示 catalog-list-item */
  /* width: 100%; */
  margin: 0 .5rem;
  display: flex;
  white-space: nowrap;
  overflow-x: scroll;
}

#catalog-list::-webkit-scrollbar {
  display: none;
}

.catalog-list-item a {
  margin: 0 .2em;
  padding: 0.2em 0.3em 0.3em;
  font-weight: bold;
  border-radius: var(--border-radius);
  color: var(--font-color);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.catalog-list-item:hover a {
  background: var(--main);
  color: var(--second);
}

.catalog-list-item.selected a {
  background: var(--light-text);
  color: var(--second);
}

a.catalog-more {
  min-width: fit-content;
  font-weight: bold;
  color: var(--font-color);
}

a.catalog-more:hover {
  color: var(--main);
}

/* 侧边栏最近文章修改 */
#aside-content .aside-list>.aside-list-item .content>time {
  display: none;
}

#aside-content .aside-list>.aside-list-item .content>.title {
  -webkit-line-clamp: 3;
  font-weight: 700;
  padding: 2px 0;
}

#aside-content .aside-list>.aside-list-item {
  padding: 8px;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  border-radius: 12px;
  transition: 0.3s;
  margin: 4px 0;
  cursor: pointer;
}

@media screen and (min-width: 1300px) {
  #aside-content .aside-list>.aside-list-item:hover {
    transform: scale(1.03);
  }

  #aside-content .aside-list>.aside-list-item:active {
    transform: scale(0.97);
  }
}

#aside-content .aside-list>.aside-list-item:hover .thumbnail>img {
  transform: scale(1);
}

#aside-content .aside-list>.aside-list-item:not(:last-child) {
  border-bottom: 0 dashed var(--anzhiyu-background) !important;
}

#aside-content .aside-list>.aside-list-item .thumbnail {
  border-radius: 8px;
  border: var(--style-border);
}

#aside-content .aside-list>.aside-list-item:hover {
  background: var(--anzhiyu-blue-main);
  color: var(--anzhiyu-white);
  transition: 0.3s;
  box-shadow: var(--anzhiyu-shadow-main);
}

#aside-content .aside-list>.aside-list-item:hover a {
  color: var(--anzhiyu-white) !important;
}

.card-widget.card-recent-post {
  padding: 0.4rem 0.6rem !important;
}

#categoryBar {
  margin-bottom: 8px;
}

/* 最近文章添加description */
/* 推荐文章 */
/* .relatedPosts>.relatedPosts-list .content {
  position: relative;
}

.relatedPosts>.relatedPosts-list>div {
  border-radius: var(--border-radius);
}

.relatedPosts>.relatedPosts-list .content .date {
  font-size: 1rem;
  -webkit-transition: all .6s ease-in-out;
  -moz-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  -ms-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

.relatedPosts>.relatedPosts-list .content .title {
  font-size: 1.1rem;
  -webkit-transition: all .6s ease-in-out;
  -moz-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  -ms-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

.relatedPosts>.relatedPosts-list>div:hover .cover {
  opacity: .1;
}

.relatedPosts>.relatedPosts-list>div:hover {
  background: var(--main);
  color: var(--second);
  box-shadow: var(--main-shadow);
}

.relatedPosts>.relatedPosts-list>div:hover .content .date,
.relatedPosts>.relatedPosts-list>div:hover .content .title {
  opacity: 0;
}

.relatedPosts>.relatedPosts-list .content .info {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  padding: 0 1rem;
  color: var(--second);
  text-align: justify;
  word-break: break-all;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-transition: all .6s ease-in-out;
  -moz-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  -ms-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.relatedPosts>.relatedPosts-list>div:hover .content .info {
  opacity: 1;
}


#pagination.pagination-post {
  border-radius: var(--border-radius);
}

#pagination .prev-post .label,
#pagination .next-post .label {
  font-size: 1rem;
  -webkit-transition: all .6s ease-in-out;
  -moz-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  -ms-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

#pagination .prev-post .prev_info,
#pagination .next-post .next_info {
  font-size: 1.1rem;
  -webkit-transition: all .6s ease-in-out;
  -moz-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  -ms-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

#pagination .prev-post,
#pagination .next-post {
  border: var(--card-border);
}

#pagination .prev-post:hover img,
#pagination .next-post:hover img {
  opacity: .1;
}

#pagination .prev-post:hover a,
#pagination .next-post:hover a {
  background: var(--main);
  color: var(--second);
  box-shadow: var(--main-shadow);
}

#pagination .prev-post:hover .label,
#pagination .next-post:hover .label,
#pagination .prev-post:hover .prev_info,
#pagination .next-post:hover .next_info {
  opacity: 0;
}

#pagination .content {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  padding: 0 1rem;
  color: var(--second);
  text-align: justify;
  word-break: break-all;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-transition: all .6s ease-in-out;
  -moz-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  -ms-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#pagination .prev-post:hover .content,
#pagination .next-post:hover .content {
  opacity: 1;
} */

