/* 文章内字体统一大小 */
#post #article-container
{
  font-size: 16px;
}

/* post 文章中链接的样式 */

/* tip 栏的链接 */
#post #article-container  a:hover
{
  background-color: #ccd0d7;
  border-radius: 8px;
}
#post #article-container  a 
{
  border-color: #ccd0d7;
  border-bottom-style: solid;
}


#post #article-container .tip a 
{
  color: rgb(36, 35, 35) !important;
  font-weight: bold;
  border-color: hotpink;
  /* border-radius: 2px; */
  border-bottom-style: solid;
}
/* #post #article-container a > u
{
  border-bottom: solid;
  border-color: hotpink;
} */
#post #article-container .tip a:hover
{
  background-color: hotpink !important;
  border-radius: 8px;
}

/* 文章全屏 */
.post .layout {
    max-width: none;
}

/* 侧边栏目录样式 */
.aside-content #card-toc {
  font-family: TXGBlog;
  overflow: auto;
}

/* 文章tabs */
#article-container .tabs {
  margin: 1rem 0!important;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: red;
  border: 1px solid #ccd0d7 !important;
}

#article-container .tabs > .nav-tabs > .tab.active button {
  border-bottom: 2px solid #49b1f5;
  border-top: none;
}

#article-container .tabs > .nav-tabs > .tab button {
  border-top: none;
}

/*哔哩哔哩视频适配*/
.aspect-ratio {position: relative;width: 100%;height: 0;padding-bottom: 75%;margin: 3% auto;text-align: center;}      
.aspect-ratio iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

/* 折叠框中的文字 */
details.folding-tag {
  font-size: 16px !important;
}

#article-container img {
  margin: 0 auto!important;
}

#post #article-container a.ghcard {
  border-bottom-style: none;
}

/* code中的字体大小 */
#article-container pre, #article-container code {
  font-size: 16px;
}

/* tip 样式新增 class */
.tip.green {
  background: linear-gradient(230deg, #47c0e0, #2dc342);
  text-shadow: 0 -1px #1bcdfc;
  box-shadow: 0 3px 5px #20b1ad;
}

.tip.green::before {
  background: linear-gradient(230deg, #47c0e0, #2dc342);
  text-shadow: 0 -1px #1bcdfc;
  /* box-shadow: 0 3px 5px #20b1ad; */
}

#article-container code {
  font-family: TXG !important;
}

span.nota:hover{
  color: orange !important;
}

span.nota {
  color: pink !important;
}

